body{
    /* background-color: bisque !important; */


background-image: url('/images/biere.webp') !important; 
}

#mt-3 mb-3 {
    text-align: center;
}

nav {
    background-color: rgb(236, 217, 192);
}