{% extends 'base.html.twig' %}

{% block title %}New Fabricant
{% endblock %}

{% block body %}
	<h1>Nouveau fabricant</h1>

	{{ include('fabricant/_form.html.twig') }}

	<a class="btn btn-secondary" href="{{ path('app_fabricant_index') }}">retour liste</a>
{% endblock %}
