{% extends 'base.html.twig' %}

{% block title %}Nouveau Continent{% endblock %}

{% block body %}
    <h1 class="mt-5 mb-3">Créer nouveau Continent</h1>

    {{ include('continent/_form.html.twig') }}

    <a class="btn btn-primary mt-5 mb-3" href="{{ path('app_continent_index') }}">retour liste</a>
{% endblock %}
