{% extends 'base.html.twig' %}

{% block title %}New Pays{% endblock %}

{% block body %}
    <h1>Créer nouveau Pays</h1>

    {{ include('pays/_form.html.twig') }}

    <a class="btn btn-secondary mt-3 mb-3" href="{{ path('app_pays_index') }}">retour liste</a>
{% endblock %}
